<div class="container-fluid d-flex justify-content-center importantDiv">
    <div id="divLogin" class="bg-secondary p-3 mb-3 rounded">
        <div id="divFormLogin" class="">
            <h2>Login de Usuario</h2>
            <form  action="/login" method="post" class="p-2">
                    <label for="userName">Ingrese su nombre</label>
                    <input class="bg-dark text-light" type="text" id="userName" name="userName">
                    <button class="bg-dark text-light" type="submit">Login</button> 
            </form>
        </div>
    </div>
</div>