<div class="container-fluid d-flex justify-content-center importantDiv">
    <div id="divLogin" class="bg-secondary p-3 mb-3 rounded">
        <div id="divFormLogin" class="">
            <h2>Login de Usuario</h2>
            <form  action="/api/login" method="post" class="p-2">
                    <label for="userName">Ingrese su nombre</label>
                    <input class="bg-dark text-light" type="text" id="userName" name="userName">
                    <button class="bg-dark text-light" type="submit">Login</button> 
            </form>
            {{!-- <form action="/api/login" method="post">
                <ul>
                    <li>
                        <label for="titulo">Nombre del Producto:</label>
                        <input type="text" id="titulo" name="title" />
                    </li>
                    <li>
                        <label for="precio">Precio del Producto:</label>
                        <input type="text" id="price" name="price" />
                    </li>
                    <li>
                        <label for="Imagen">Imagen del producto:</label>
                        <input type="text" id="thumbnail" name="thumbnail" />
                    </li>
                    <li class="button">
                        <button type="submit">Envía Nuevo Producto</button>
                    </li>
                </ul>
            </form> --}}
        </div>
    </div>
</div>