<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pagina Prueba</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="icon" href="https://w1.pngwing.com/pngs/805/859/png-transparent-shield-logo-boca-juniors-la-boca-buenos-aires-football-copa-libertadores-sports-argentina-yellow.png" />
  </head>
  <body>  
    {{{body}}}
  </body>
</html>