<div class="container-fluid d-flex justify-content-center">
    <div class=" bg-warning text-primary p-5 rounded">
        <h1>Añadir Productos Formulario</h1>
        <a href="/productos">Mirar todos los productos que tenemos</a>
        <br />
        {{> form}}
    </div>
</div>

