<div class="container-fluid d-flex justify-content-center">
    <div class=" bg-warning text-primary p-5 rounded">
         <a href="/">Volver al inicio</a>
        <h1>Lista de Productos Disponibles:</h1>
       
        {{> listOfProducts}}
    </div>
</div>
