<div >
    <form id="userForm" class="p-2" >
  <ul>
    <li class="container">
      <label for="nombreUser">Nombre:</label>
      <input class="bg-dark text-light" type="text" id="nombreUser" name="name"/>
    </li >
    <li class="container">
      <label for="gmailUser">Email:</label>
      <input class="bg-dark text-light" type="email" id="gmailUser" name="gmailUser"/>
    </li>
    <li class="container" class="button">
      <button class="bg-dark text-light" type="submit">Envía Nuevo Producto</button>
    </li >
  </ul>
</form>
</div>
<div>
    
</div>