<form id='formForUsuarioName' action="">
  <label for="fgen">Mensaje general</label><br>
  <input type="text" id="fgen" name="fgen" value="Hola">
  <input type="submit" value="Enviar">
  <div id="chat">
    <h4> Mensajes:</h4>
  </div>
  
</form> 
